<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <globalization culture="zh-CN" fileEncoding="GB18030" uiCulture="zh-CN" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
